.profile_container {
  width: 100%;
  height: 600px;
  padding: 10px 15px;
}

.profile_details_section {
  width: 100%;
  height: 200px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.profile_card {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 2;
  height: 100%;
  background-color: rgb(173, 241, 229);
  line-height: 0.7;
}

.user_img_div img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.user_details_div {
}

.user_details_div p {
  font-size: small;
  font-weight: 500;
}

.user_details_div h4 {
  font-weight: bold;
  color: rgb(78, 76, 76);
}

.edit_btn_div {
  text-align: end;
}

.edit_btn_div button {
  width: 100%;
  padding: 7px 5px;
  color: white;
  background-color: rgb(69, 69, 241);
  border: none;
  border-radius: 5px;
}

.edit_btn_div button:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.upload_btn {
  flex: 1;
  height: 100%;
  border-radius: 10px;
  margin-right: 25px;
  /* border: 1px solid black; */
  background-color: rgb(173, 229, 128);
}

.upload_btn:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.upload_div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

.upload_div h3 {
  color: rgb(73, 71, 71);
}

.add_post_icon {
  background-color: white;
  border: 2px dashed grey;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 60px;
  color: grey;
  transition: transform 0.4s ease-in-out;
}

.add_post_icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.uploaded_blog_details {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
}

.edit_btn_div :nth-child(2) {
 display: none;
}

@media (max-width: 768px) {
  .user_img_div img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .edit_btn_div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .edit_btn_div button {
    width: 50%;
    margin: 10px;
  }

  .edit_btn_div :nth-child(2) {
    display: block;
    width: 50%;
    margin: 10px;
    background-color: green;
  }

  .edit_btn_div :nth-child(2):hover {
    background-color: rgb(9, 80, 9);
  }

  .profile_details_section {
    flex-direction: column;
  }

  .profile_container {
    padding: 10px;
  }

  .upload_btn {
    display: none;
  }

  .uploaded_blog_details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    box-sizing: content-box;
  }

  .uploaded_blog_details::-webkit-scrollbar {
    display: none
  }
}

@media (max-width: 576px) {
}
